$darkness: #000;
$dark: #111;
$dark-medium: #333;
$dark-low: #666;
$light: #fff;
$light-medium: #ddd;
$light-low: #999;

$blood: rgb(185, 0, 0);
$blood-dark: rgb(112, 0, 0);
$wine: rgb(54, 0, 0);




